
.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
}

#upload {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px dashed blueviolet;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  height: 300px;
}

a {
  color: blueviolet;
  text-decoration: none;
}

#upload-form {
  padding: 10vw;
}

#upload-form h3 {
  color: blueviolet;
}

#upload.error {
  border-color: orangered !important;
}

#upload-loader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#upload-file {
  display: none;
}

#upload-result {
  font-size: 1.1em;
}

#upload-result .result {
  margin-top: 10px;
}

#upload-result .result:first-child {
  margin-top: 40px;
}

.fa-upload {
  font-size: 80px;
  color: blueviolet;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  
}