<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    {{ if not .sensitive_mode }}
    <title>{{ .title }}</title>
    <meta name="description" content="Simple file hosting with server-side encryption." />
    <meta property="og:title" content="Simple file hosting with server-side encryption." />
    <meta property="og:description" content="Simple file hosting with server-side encryption." />
    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico" />
    {{ else }}
    <title>Upload</title>
    {{ end }}
    <link rel="stylesheet" href="/static/fontawesome/css/font-awesome.min.css">    
    <!-- <link rel="stylesheet" target="blank" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"> -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <!-- <link rel="stylesheet" type="text/css" href="/static/milligram.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/toastr.css" />
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/style_cisti.css">
    <!-- PWA Manifest for Chrome-based browsers -->
    <link rel="manifest" href="/static/manifest.json">
    <!-- Metadata for Apple PWA -->
    <link rel="apple-touch-icon" href="/static/webapp/gpldr144.png">
    <link rel="apple-touch-startup-image" href="/static/webapp/gpldr144.png">
    <meta name="apple-mobile-web-app-title" content="Goploader">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="msapplication-starturl" content="/simple">
</head>

<body>
    <main class="wrapper">
        {{ if .fulldoc }} {{ if not .sensitive_mode }}
        <nav class="navigation">
            <section class="container">
                <ul class="navigation-list float-right">
                    <li class="navigation-item">
                        <a class="navigation-link" href="#" id="toggle-upload"><i class="fa fa-cloud-upload fa-lg" aria-hidden="true"></i></a>
                    </li>
                    {{ if .fulldoc }}
                    <li class="navigation-item">
                        <a class="navigation-link" href="https://docs.gpldr.in" target="_blank"><i class="fa fa-book fa-lg" aria-hidden="true"></i></a>
                    </li>
                    {{ end }}
                    <li class="navigation-item">
                        <a class="navigation-link" href="https://github.com/Depado/goploader" target="_blank"><i class="fa fa-github-alt fa-lg" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </section>
        </nav>
        {{ end }} {{ end }}
        
        <h1 class="title">Cicles</h1>
        <p> Puoi caricare file fino a <b>{{.size_limit}}</b> di dimensione.<br/>
        Tutti i file verranno cancellati dopo <b>7 giorni</b>.</p>

        <section id="upload" class="container fullheader">
            <form id="upload-form" method="post">
                <input type='hidden' name='duration' value='1w' />
                <input type="file" name="file" id="upload-file" class="inputfile" />
                <i class="fa fa-upload" aria-hidden="true"></i>
                <p>Scegli un file…</p>
                <p id="upload-error" style="display: none;"></p>
            </form>
            <br />
            <div id="upload-result" style="display: none; text-align: center;">
                <p id="upload-url"></p>
                <div class="container">
                    <div class='result'>
                        <a id="upload-clipboard" class="button button-outline" style="width: 100%;" data-clipboard-text="">Copia negli appunti</a>
                    </div>
                    <div class='result'>
                        <a class="button button-outline" style="width: 100%;" href="#" id="upload-again">Carica un altro file</a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="container" id="upload-loader" style="display: none;">
                <div class="loader">
                    <div class="circle circle1"></div>
                    <div class="circle circle2"></div>
                </div>
                <div class="progress">
                    <div></div>
                </div>
            </div>
        </section>
    </main>
    {{ if not .sensitive_mode }}
    <footer class="footer site-footer">
        <section class="container">
            <p>
                {{ if .total_files }}{{ .total_files }} files ({{ .total_size }}) were uploaded.{{ end }} <a href="https://docs.gpldr.in/server/downloads/" target="_blank">Install it on your machine.</a>
                <br /> Made with ♥ by <a target="_blank" href="https://github.com/Depado" title="Depado">Depado</a>, Hosted with ♥ by <a target='_blank' href='https://cisti.org'>Cisti.org</a>.
            </p>
        </section>
    </footer>
    {{ end }}
    <script src="/static/jquery.min.js"></script>
    <script src="/static/clipboard.min.js"></script>
    <script src="/static/custom.js"></script>
</body>

</html>
